@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Oswald;
}

body{
    min-height: 1000px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
    background-color: #0b0136;
}
header .marca{
color: #4d3bf1;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 5px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
color: #fff;
text-decoration: none;
letter-spacing: 2px;
font-weight: 400;
margin: 0 15px;
}
header.stig{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
header.stig .marca,
header.stig ul li a
{
    color: #000;
}

.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url("bepsi.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    color: crimson;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}
.banner h2 span{
    color: #ca9714 
}
.sect{
    background-color: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.sect .content{
    text-align: center;
    width: 100%;
}
.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}
.h3{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #000;
}
.btn{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax (300px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
.servicios .box{
    width: 350px;
    background: cyan;
    box-shadow: 0px 20px 25px rgba(0,0,0,.5);
    margin: 0 auto;
}
.servicios .box .iconBx{
    margin-top: 25px;
}
.servicios .box .iconBx img{
    max-width: 70px;
    margin-bottom: 15px;
}
.servicios .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    }
.servicios .box .p{
    text-align: center;
    margin: 10px;
}
.stats{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3,
.stats p
{
    color: #fff;
}
.statsBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
}
.statsBox h2{
    color: #fff;
    font-size: 36px;
}
.statsBox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx{
    position: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 40px;
}
.workBx .brand{
    position: inherit;
    background: #4978ff;
    height: 330px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workBx .brand:hover{
    background: rgb(1, 173, 173);
}
.workBx .brand a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

.teamBx{
    position: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member .details:hover{
    opacity: 1;
}

.teamBx .member .details h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span{
    display: block;
    font-size: 12px;
    font-weight: 400px;
}
/*SLIDER*/
.slider{
    position: relative;
}
.slider-items{
    overflow: hidden;
}

@keyframes zoom{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

.slider-items .item {
    display: none;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    animation: zoom 1s;
}
.slider-items .item img{
    max-width: 100%;
    display: block;
}

.slider-items .item.active{
    display: block;
}
.slider-items .item .caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.slider .left-slide, .slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #444444;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
    top: 50%;
    transform: translateY(-50%);
}
.slider .left-slide{
    left: 10px;
} 
.slider .right-slide{
    right: 10px;
}
.slider .left-slide:hover,
.slider .right-slide:hover{
    background: #4d3bf1;
}

/*SLIDER END*/
.contact{
    background: #000;
}
.contact h3, .contact p{
    color: #fff;
}
.contactForm{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.contactForm form{
    width: 100%;
}
.contactForm .row100{
    display: flex;
    width: 100%;
}
.contactForm .row100 .inputBx50{
    width: 50%;
    margin: 0 20px;
}
.contactForm .row100 .inputBx100{
    width: 100%;
    margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px  0;
    outline: none;
    font-size: 10px;
    font-weight: 500;
    margin: 20px 0;
    resize: none;
}
.contactForm .row100 textarea{
    height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color:rgba(255, 255, 255, 0.5);
}
.contactForm .row100 input[type="Submit"]{
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}
#text{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#textName{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#texTelefono{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#textMsj{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci ul{
    display: flex;
}
.sci ul li{
    list-style: none;
}
.sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci ul li a img{
    filter: invert(1);
    max-width: 40px;
}
.sci ul li a:hover img{
    opacity: 0.5;
}
#button-up{
    width: 60px;
    height: 60px;
    background: #4d3bf1;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent;

    position: fixed;
    bottom: 50px;
    right: 50px;

    display: flex;
    justify-content: center;
    align-items: center; 

    color: #fff;
    font-size: 20px;

    transition: all 300ms ease;
    transform: scale(1);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
}
#button-up:hover{
    transform:scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);

}

/*Opciones para pantallas pequeñas*/
@media(max-width: 992px){
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
         
    }
    .toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header, header.stig{
        padding: 5px 50px;
        background: #fff;
    }
    header .marca,
    header ul li a{
        color: #000;
    }
    header ul{
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        visibility: hidden;
        background: #fff;
        opacity: 0;
    }
    header.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    /*Más cambios para pantallas pequeñas*/
    .banner{
        background-position: center;
    }
    .banner h2{
        font-size: 60px;
        padding: 0 50px;
    }
    .sect{
        padding: 100px 50px 50px 50px;
    }
    .servicios .box{
        width: 100%;
    }
    .stats{
        padding-top: 250px;
    }
    .row100{
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width: 100%;
        margin: 0;
    }
    .sci{
        margin: 20px;
    }
    .sci ul li a img{
        font-size: 24px;
    }
}
